altair==4.1.0
aniso8601==8.0.0
astor==0.8.1
attrs==19.3.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
base58==2.0.1
bleach==3.1.5
blinker==1.4
boto3==1.14.15
botocore==1.17.15
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
Click==7.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
django-rest-framework-camel-case==2.0.0
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
Flask==1.1.1
Flask-RESTful==0.3.7
h5py==2.10.0
idna==2.10
importlib-metadata==1.7.0
ipykernel==5.3.0
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.1
Jinja2==2.10.1
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.5
jupyter-core==4.6.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.5
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.0.3
numpy==1.16.6
packaging==20.4
pandas==0.24.2
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.2
ptyprocess==0.6.0
pycairo==1.20.0
pydeck==0.4.0b2
Pygments==2.6.1
PyGObject==3.38.0
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pyusb==1.1.0
PyYAML==5.3.1
pyzmq==19.0.1
randomcolor==0.4.4.5
requests==2.24.0
s3transfer==0.3.3
scipy==1.5.0
Send2Trash==1.5.0
six==1.15.0
streamlit==0.62.1
subprocess32==3.5.4
terminado==0.8.3
testpath==0.4.4
toml==0.10.1
toolz==0.10.0
tornado==6.0.4
traitlets==4.3.3
tzlocal==2.1
urllib3==1.25.9
usb==0.0.83.dev0
validators==0.15.0
virtualenv==16.7.5
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wordcloud==1.8.0
zipp==3.1.0
